package ${dao_package};

import ${model_package}.${className};

import com.fast.cloud.biz.domain.${className};
import com.fast.cloud.mybatis.mapper.MyMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper extends MyMapper<${className}>{
}
